@charset "UTF-8";

@use 'mixins';
@use 'variables';
@use 'media';

@include mixins.keyframes(slideInModal) {
  0% {
    @include mixins.transform(translateY(100%));
  }
  100% {
    @include mixins.transform(translateY(0%));
  }
}

@include mixins.keyframes(slideOutModal) {
  0% {
    @include mixins.transform(translateY(0%));
  }
  100% {
    @include mixins.transform(translateY(100%));
  }
}

@include mixins.keyframes(pulse) {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 1px var(--game-turn-pulse-color);
    clip-path: ellipse(100% 55%);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px var(--game-turn-pulse-color);
    clip-path: ellipse(100% 85%);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 1px var(--game-turn-pulse-color);
    clip-path: ellipse(100% 55%);
  }
}

@mixin pulseOnTurn {
  box-shadow: 0 0 0 var(--game-turn-pulse-color);
  @include mixins.transform(scale(1));
  @include mixins.animation(pulse, 2s, linear, infinite);
}

@mixin modal {
  .modal {
    @include mixins.flexCol(space-between);
    position: absolute;
    bottom: 0;
    z-index: var(--modal-global-index);
    height: auto;
    width: 100%;
    max-height: 100%;
    max-width: 70%;
    background-color: white;
    min-height: 15em;
    
    // Full width until 768px
    @include media.media('portrait', '<=tablet') {
      max-height: 80%;
      max-width: 100%;
    }
    @include media.media('landscape-max-h414') {
      max-height: 100%;
      max-width: 80%;
    }
    .modal__content {
      @include mixins.flexCol();
      @include mixins.flex-grow(1);

      .modal__header {
        .title {
          color: var(--secondary-color);
          font-weight: 800;
        }
      }
      .modal__footer {
        p {
          font-style: italic;
        }
      }
    }

    &.modal--opening {
      @include mixins.animation(
        slideInModal,
        var(--animation-global-duration),
        var(--animation-slide-timing),
        forwards
      );
    }

    &.modal--closing {
      @include mixins.animation(
        slideOutModal,
        var(--animation-global-duration),
        var(--r-animation-slide-timing),
        forwards
      );
    }
  }
}

@mixin modalPlayerFooter {
  background-color: var(--secondary-color);
  color: white;
  height: 100%;
  width: 100%;

  @include media.media('portrait') {
    @include mixins.flexRow(center);
    @include mixins.flex(1, 0, 10%);
  }
  @include media.media('portrait', '<phone') {
    @include mixins.flexRow(center);
    @include mixins.flex(1, 0, 5%);
  }
  @include media.media('landscape') {
    @include mixins.flexRow(center);
    @include mixins.flex(1, 0, 12%);
  }
  @include media.media('landscape-max-h600') {
    display: none;
  }
  
  .game_status {
    margin: 1%;

    &.game_status--round {
      @include mixins.flexCol();
      @include mixins.flex(1);
      @include mixins.align-self(stretch);
      text-align: left;

      @include media.media('<tablet') {
        display: none;
      }

      .status__round {
        @include mixins.flexCol();
        @include mixins.flex-grow(1);

        .title--game_status {
          font-weight: 600;
          text-transform: uppercase;

          .count {
            font-weight: 400;
          }
        }
      }
    }
    &.game_status--score {
      @include mixins.flexRow();
      @include mixins.flex(1);
      @include mixins.align-self(stretch);

      .players-score__title--score {
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 2%;
      }

      .players-score__lists {
        @include mixins.flexRow();
        width: 100%;

        .score__list {
          text-align: left;

          .player--name {
            font-weight: 600;

            > .player--score {
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

@mixin modalPlayer {
  @include modal;

  .modal__player--cards {
    @include mixins.flexCol();
    @include mixins.flex(2, 0, 70%);
    position: relative;
    margin: 1%;
    width: 100%;

    .form {
      @include mixins.flexCol();
      @include mixins.flex-grow(1);
      width: 100%;

      .container__player--cards {
        @include mixins.flexRow(center);
        @include mixins.flex(2, 0, 80%);
        @include mixins.flex-wrap(wrap);
        @include selectableItems();
        width: 100%;

        .card {
          @include mixins.flexbox;
          @include mixins.flex(0, 0);

          @include media.media('<=s-phone') {
            margin: 2% 0;
          }
          @include media.media('>s-phone') {
            margin: 1% 0;
          }

          .form__label {
            .img--card {
              @include media.media('landscape') {       
                @include media.media('>=1920px') {
                  max-width: 5.5em;
                }
                @include media.media('>tablet', '<1920px') {
                  max-width: 4.5em;
                }
                @include media.media('<=tablet') {
                  max-width: 3em;
                }

                // Hidden footer into modal
                @include media.media('landscape-max-h600') {
                  max-width: 4em;
                }
                @include media.media('landscape-max-h414') {
                  max-width: 3.2em;
                }
                @include media.media('landscape-max-h360') {
                  max-width: 3em;
                }
                @include media.media('landscape-max-h320') {
                  max-width: 2.8em;
                }
              }

              @include media.media('portrait') {                
                // modal full height
                @include media.media('>l-desktop') {
                  max-width: 5.5em;
                }
                @include media.media('>desktop', '<=l-desktop') {
                  max-width: 5em;
                }
                @include media.media('>tablet', '<=desktop') {
                  max-width: 4.5em;
                }

                @include media.media('>phone', '<=tablet') {
                  max-width: 4em;
                }
                @include media.media('>m-phone', '<=phone') {
                  max-width: 3.6em;
                }
                @include media.media('>s-phone', '<=m-phone') {
                  max-width: 3.2em;
                }
                @include media.media('<=s-phone') {
                  max-width: 3em;
                }
              }
            }
          }
        }
      }
      .modal__player--cards--form {
        margin-bottom: 1%;
        @include mixins.flexRow(center);
        @include button;

        @include media.media('landscape-max-h414') {
          margin-bottom: 2%;
        }
      }
    }
  }
  // Modal's footer
  .modal__player--game_status {
    @include modalPlayerFooter;
  }
}

@mixin selectableItems {
  .form__label {
    cursor: pointer;
    opacity: 0.5;
  }
  .form__radio {
    display: none !important;

    &:checked + .form__label {
      opacity: 1;
    }
  }
}

@mixin closeModalButton {
  @include mixins.flexRow(center);
  cursor: pointer;

  .button--close {
    position: absolute;
    top: -15px;
    font-weight: 800;
    line-height: 1;
    font-size: 1.4rem;
    background-color: white;
    border: 2px solid var(--secondary-color);
    @include mixins.border-radius(100%);
    width: 30px;
    height: 30px;
  }
}

@mixin formInputText {
  .form__input {
    @include mixins.border-radius(var(--border-radius));
    text-align: center;
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    padding: 0.5rem 0.2rem;
    max-width: 100%;

    &:focus {
      outline-color: transparent;
      outline-style: none;
    }

    @include mixins.placeholder {
      color: var(--primary-color);
    };
  }
}

@mixin formButton {
  .form__submit {
    cursor: pointer;
    text-align: center;
    color: var(--button-text-color);
    background-color: var(--secondary-color);
    @include mixins.border-radius(var(--border-radius));
    text-transform: uppercase;
    font-weight: 800;
    padding: 0.6rem 1rem;

    &:hover {
      color: var(--secondary-color);
      background-color: var(--button-text-color);
      box-shadow: 0 0 0 2px var(--secondary-color);
    }
  }
}

@mixin modalOverlay {
  .overlay {
    @include mixins.filter(opacity(0.6));
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
    z-index: CALC(var(--modal-global-index) - 1);
  }
}

@mixin button {
  .button {
    cursor: pointer;
    text-align: center;
    color: var(--button-text-color);
    background-color: var(--secondary-color);
    @include mixins.border-radius(var(--border-radius));
    text-transform: uppercase;
    font-weight: 600;
    padding: .6em 1em;
    font-size: 1em;

    @include media.media('landscape-max-h320') {
      padding: .4em .8em;
      font-size: 16px;
    }

    &:hover {
      color: var(--secondary-color);
      background-color: var(--button-text-color);
      box-shadow: 0 0 0 .15em var(--secondary-color);
    }

    &.disabled {
      cursor: not-allowed;
      @include mixins.filter(grayscale(100%));
    }

    &.disabled:hover {
      color: var(--button-text-color);
      background-color: var(--secondary-color);
      box-shadow: unset;
    }
  }
}
