{% extends 'base.html' %}

{% load i18n %}

{% block page_title %}
    Chef's Hat Card Game
{% endblock %}

{% block page_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
{% endblock %}

{% block body %}


    <div class="wrapper">

        <div class="section section--header">
            <div class="container container--img">
                 <img class="img img--chef_hat" src="{% static 'images/chefHat.png' %}" alt="Chef's hat" />


            </div>
            <div class="container container--title">
                <p class="text text--xxxl text--title">Chef's hat</p>
            </div>
        </div>
        <div class="section section--content">
            <div class="container container--intro">
                <a href="{% url 'SingleGame:changeLanguage' language="en"%}"> <img class="img img--languages" src="{% static 'images/lang_eng.png' %}"> </a>
                <a href="{% url 'SingleGame:changeLanguage' language="es"%}"> <img class="img img--languages" src="{% static 'images/lang_es.png' %}"> </a>
<!--                <a href="{% url 'SingleGame:changeLanguage' language="de"%}"> <img class="img img&#45;&#45;languages" src="{% static 'images/lang_de.png' %}"> </a>-->
                <a href="{% url 'SingleGame:changeLanguage' language="it"%}"> <img class="img img--languages" src="{% static 'images/lang_it.png' %}"> </a>
                <a href="{% url 'SingleGame:changeLanguage' language="pt"%}"> <img class="img img--languages" src="{% static 'images/lang_pt.png' %}"> </a>

            </div>
        </div>


    </div>
{% endblock %}